<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="intranetDB2" connectionString="data source=.\SQLEXPRESS;initial catalog=intranet;integrated security=true;multipleactiveresultsets=true;app=entityframework" providerName="system.data.sqlclient" />
    <add name="intranetDB" connectionString="Data Source=192.168.23.222,1174;Initial Catalog=intranet2013;Persist Security Info=True;User ID=sa;Password=YazilimDonanim123*," providerName="System.Data.SqlClient" />
    <add name="intranetcontext" connectionString="Data Source=192.168.21.105;Initial Catalog=intranet;integrated security=true;multipleactiveresultsets=true;User ID=sa;Password=v139782D;app=entityframework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>