
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<div class="row">
	<div class="col-lg-2 col-md-4 col-sm-12 col-xs-12">
		<div style="margin-top:55px; margin-bottom:10px;">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Telefon Rehberinde ara..">
				<span class="input-group-btn">
					<button style="background-color: #baccd4; color: white; " class="btn btn-secondary" type="button"><i style="font-size:15px;" class="fa fa-phone" aria-hidden="true"></i></button>
				</span>
			</div>
		</div>

		<h3 style="font-size:23px">Hızlı Erişim</h3>

		<div class="hizli-erisim">
			<ul>
				<li>Kurumsal Sayfalar</li>
				<li>Uygulamalarımız</li>
				<li>Kurumsal Açıklamalar</li>

				<li><b>Arşiv</b></li>
			</ul>

		</div>

	</div>


	<div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
		<h3 style="font-size: 23px;margin-left:150px;">Haberler</h3>
		<div class="haber-resim">
			<div class="row">
				<img class="img-responsive" src="~/Content/images/1.jpg" alt="">
			</div>
			<div class="resim-alt-etiket row">
				Etüt ve Planlama Şb. Md.
			</div>
		</div>
		<div class="haber-icerik">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 style="font-size: 19px;">Emeklilik Yemeğine Davet</h4><h5 style="opacity:.7">01.02.2023 - 12.2.2024</h5>
				</div>
				<div class="panel-body">
					<p>Kurumumuzdan 10. Bölge Müdürü iken emekli olan Eşref TUNCEL için, 06 Nisan 2017 Perşembe günü Öz Urfalı Kebap Kazımkarabekir Caddesi No:112/9 Saat:12:30’da veda yemeği düzenlenecektir. Katılmak isteyenlerin aşağıda isimleri ve telefon numaraları verilen kişilerle irtibat kurmaları rica olunur. </p>

				</div>
			</div>
		</div>

		<div class="haber-resim">
			<div class="row">
				<img class="img-responsive" src="~/Content/images/3.jpg" alt="">
			</div>
			<div class="resim-alt-etiket row">
				Yazılım ve Donanım Şb. Md.
			</div>
		</div>
		<div class="haber-icerik">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 style="font-size: 19px;">Acil Kan Aranıyor</h4><h5 style="opacity:.7">01.02.2023 - 12.2.2024</h5>
				</div>
				<div class="panel-body">
					<p>Bir yakınımın Başkent Hastanesi’nde yatan  için acil olarak 0 Rh (-) kana gereksinim vardır. Kan vermek isteyenler numaralı iş telefonumdan benimle iletişime geçebilir.  </p>

				</div>
			</div>
		</div>


	</div>


	<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">

		<h3 style="font-size:23px">Meteorolojik Uyarılar</h3>
		<a class="uyarilar">
			<span class="uyaritarihi">
				<span class="uyariicon">!</span>
				<span class="uyariadi">UYARI</span>
			</span>
			<span class="uyaribaslik">Samsun'un Doğusu Ordu ve Giresun Çevrelerinde Kuvvetli Yağışlara Dikkat</span>
		</a>
		<h3 style="font-size:23px">Duyurular</h3>
		<div class="allah-bagislasin">
			<div class="beybi"></div>
			<span>
				Ahmet Tavukçu'nun
				Muhammed Nurullah adında bir erkek evladı olmuştur.Allah hayırlı uğurlu uzun ömürler nasip etsin.
			</span>

		</div>

		<div class="allah-bagislasin">
			<div class="vefat"></div>
			<span>
				Müdürlüğümüz personeli Mühendis 'ın annesi vefat etmiştir. Merhumeye Allah'tan rahmet yakınlarına başsağlığı dileriz. Tel: 123456789
			</span>

		</div>



	</div>




</div>

